In [ ]:
#Conexión con colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Importar paquetes
import pandas as pd
import numpy as np

LEER BASES DE DATOS

In [ ]:
#BASE DE DATOS 1: employee_survey_data.csv
#Encuesta realizada a los empleados sobre satisfacción laboral
# ID empleado / Satisfacción del Medio Amb / Satisfacción Laboral / Equilibrio trabajo-vida
satisf = pd.read_csv('/content/drive/MyDrive/CursoAnalitica3/employee_survey_data.csv', sep = ';')
satisf.head(2)

   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0

In [ ]:
#BASE DE DATOS 2: general_data.csv 
#Información general de los empleados
info = pd.read_csv('/content/drive/MyDrive/CursoAnalitica3/general_data.csv', sep = ';')
info.head(2)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,...,0.0,Y,23,8,1,6.0,3,5,1,4

In [ ]:
#BASE DE DATOS 3: in_time.csv
#Registro de la hora de ingreso de los empleados
entrada = pd.read_csv('/content/drive/MyDrive/CursoAnalitica3/in_time.csv', sep = ';')
entrada.head(2)

,Unnamed: 0,1/01/2015,2/01/2015,5/01/2015,6/01/2015,7/01/2015,8/01/2015,9/01/2015,12/01/2015,13/01/2015,...,18/12/2015,21/12/2015,22/12/2015,23/12/2015,24/12/2015,25/12/2015,28/12/2015,29/12/2015,30/12/2015,31/12/2015
0,1,NaN,2/01/2015 9:43,5/01/2015 10:08,6/01/2015 9:54,7/01/2015 9:34,8/01/2015 9:51,9/01/2015 10:09,12/01/2015 9:42,13/01/2015 10:13,...,NaN,21/12/2015 9:55,22/12/2015 10:04,23/12/2015 10:14,24/12/2015 10:11,NaN,28/12/2015 10:13,29/12/2015 10:03,30/12/2015 9:54,31/12/2015 10:12
1,2,NaN,2/01/2015 10:15,5/01/2015 10:21,NaN,7/01/2015 9:45,8/01/2015 10:09,9/01/2015 9:43,12/01/2015 10:00,13/01/2015 10:43,...,18/12/2015 10:37,21/12/2015 9:49,22/12/2015 10:33,23/12/2015 10:12,NaN,NaN,28/12/2015 9:31,29/12/2015 9:55,30/12/2015 10:32,31/12/2015 9:27

In [ ]:
#BASE DE DATOS 4: manager_survey_data.csv
#Encuesta de desempeño de los empleados realizada por parte de los jefes.
encues = pd.read_csv('/content/drive/MyDrive/CursoAnalitica3/manager_survey_data.csv', sep = ';')
encues.head(2)

   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4

In [ ]:
#BASE DE DATOS 5: out_time.csv
#Registro de la hora de salida de los empleados
salida = pd.read_csv('/content/drive/MyDrive/CursoAnalitica3/out_time.csv', sep = ';')
salida.head(2)

,Unnamed: 0,1/01/2015,2/01/2015,5/01/2015,6/01/2015,7/01/2015,8/01/2015,9/01/2015,12/01/2015,13/01/2015,...,18/12/2015,21/12/2015,22/12/2015,23/12/2015,24/12/2015,25/12/2015,28/12/2015,29/12/2015,30/12/2015,31/12/2015
0,1,NaN,2/01/2015 16:56,5/01/2015 17:20,6/01/2015 17:19,7/01/2015 16:34,8/01/2015 17:08,9/01/2015 17:38,12/01/2015 16:58,13/01/2015 18:02,...,NaN,21/12/2015 17:15,22/12/2015 17:27,23/12/2015 16:44,24/12/2015 17:47,NaN,28/12/2015 18:00,29/12/2015 17:22,30/12/2015 17:40,31/12/2015 17:17
1,2,NaN,2/01/2015 18:22,5/01/2015 17:48,NaN,7/01/2015 17:09,8/01/2015 17:34,9/01/2015 16:52,12/01/2015 17:36,13/01/2015 18:00,...,18/12/2015 18:31,21/12/2015 17:34,22/12/2015 18:16,23/12/2015 17:38,NaN,NaN,28/12/2015 17:08,29/12/2015 17:54,30/12/2015 18:31,31/12/2015 17:40

In [ ]:
#BASE DE DATOS 6: retirement_info.csv
#Información de retiro de los empleados que dejaron la empresa.
retiro = pd.read_csv('/content/drive/MyDrive/CursoAnalitica3/retirement_info.csv', sep = ';')
retiro.head(2)

   EmployeeID Attrition retirementDate retirementType resignationReason
0           2       Yes     15/10/2016    Resignation            Others
1           7       Yes     20/07/2016    Resignation            Stress

DEPURACIÓN BASES DE DATOS

-base 2 (información general)

In [ ]:
info.head(10)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,4,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,2,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,2,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,3,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,Non-Travel,Research & Development,7,4,Medical,1,10,Female,4,...,1.0,Y,13,8,1,6.0,2,6,1,5

In [ ]:
#Inciamos con la depuración de la base de datos 2, que tiene información general de los empleados
info.columns

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender', 'JobLevel',
       'JobRole', 'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'Over18', 'PercentSalaryHike', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [ ]:
#conocer el tipo de variables
info.dtypes

Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [ ]:
#imprimir categorias de las variables
lista = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18']
for i in lista:
    print(info[i].value_counts())
    print('------------------------------------')

Travel_Rarely        3129
Travel_Frequently     831
Non-Travel            450
Name: BusinessTravel, dtype: int64
------------------------------------
Research & Development    2883
Sales                     1338
Human Resources            189
Name: Department, dtype: int64
------------------------------------
Life Sciences       1818
Medical             1392
Marketing            477
Technical Degree     396
Other                246
Human Resources       81
Name: EducationField, dtype: int64
------------------------------------
Male      2646
Female    1764
Name: Gender, dtype: int64
------------------------------------
Sales Executive              978
Research Scientist           876
Laboratory Technician        777
Manufacturing Director       435
Healthcare Representative    393
Manager                      306
Sales Representative         249
Research Director            240
Human Resources              156
Name: JobRole, dtype: int64
------------------------------------
Married     2019
Single      1410
Divorced     981
Name: MaritalStatus, dtype: int64
------------------------------------
Y    4410
Name: Over18, dtype: int64
------------------------------------

In [ ]:
#definimos un nuevo DF con las variables de interés
info2 = info[['EmployeeID', 'Gender', 'Age', 'Department', 'Education',
       'EducationField', 'JobLevel',
       'JobRole', 'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked', 'PercentSalaryHike', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager']]
info2.head()

,EmployeeID,Gender,Age,Department,Education,EducationField,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,1,Female,51,Sales,2,Life Sciences,1,Healthcare Representative,Married,131160,1.0,11,8,0,1.0,6,1,0,0
1,2,Female,31,Research & Development,1,Life Sciences,1,Research Scientist,Single,41890,0.0,23,8,1,6.0,3,5,1,4
2,3,Male,32,Research & Development,4,Other,4,Sales Executive,Married,193280,1.0,15,8,3,5.0,2,5,0,3
3,4,Male,38,Research & Development,5,Life Sciences,3,Human Resources,Married,83210,3.0,11,8,3,13.0,5,8,7,5
4,5,Male,32,Research & Development,1,Medical,1,Sales Executive,Single,23420,4.0,12,8,2,9.0,2,6,0,4

In [ ]:
#tratamiento de datos nulos
info2.isnull().sum()

EmployeeID                  0
Gender                      0
Age                         0
Department                  0
Education                   0
EducationField              0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [ ]:
#reemplazar daros nulos por '0'
info2 = info2.fillna(0)
info2.isnull().sum()

EmployeeID                 0
Gender                     0
Age                        0
Department                 0
Education                  0
EducationField             0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

-base 1 (encuesta satisfaccion a los empleados)

In [ ]:
satisf.head(8)
#ID empleado / Satisfacción : ambiente / laboral / equilibrio vida - trabajo

   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0
5           6                      3.0              2.0              2.0
6           7                      1.0              3.0              1.0
7           8                      1.0              2.0              3.0

In [ ]:
#imprimir categorias de las variables
lista = ['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance']
for i in lista:
    print(satisf[i].value_counts())
    print('------------------------------------')

3.0    1350
4.0    1334
2.0     856
1.0     845
Name: EnvironmentSatisfaction, dtype: int64
------------------------------------
4.0    1367
3.0    1323
1.0     860
2.0     840
Name: JobSatisfaction, dtype: int64
------------------------------------
3.0    2660
2.0    1019
4.0     454
1.0     239
Name: WorkLifeBalance, dtype: int64
------------------------------------

In [ ]:
#tratamiento de datos nulos
satisf.isnull().sum()

EmployeeID                  0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
dtype: int64

In [ ]:
#reemplazar daros nulos por '0'
satisf = satisf.fillna(0)
satisf.isnull().sum()

EmployeeID                 0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
dtype: int64

-base 4 (encuesta de desempeño de los empleados hecha por los jefes)

In [ ]:
encues.head(8)
#nivel de participación en el trabajo / calificación de desempeño del año anterior

   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3
5           6               3                  3
6           7               3                  4
7           8               3                  4

In [ ]:
#imprimir categorias de las variables
lista = ['JobInvolvement', 'PerformanceRating']
for i in lista:
    print(encues[i].value_counts())
    print('------------------------------------')

3    2604
2    1125
4     432
1     249
Name: JobInvolvement, dtype: int64
------------------------------------
3    3732
4     678
Name: PerformanceRating, dtype: int64
------------------------------------

In [ ]:
#tratamiento de datos nulos
encues.isnull().sum()

EmployeeID           0
JobInvolvement       0
PerformanceRating    0
dtype: int64

-base 6 (información de retiro)

In [ ]:
retiro.head(8)
# desgaste / fecha de retiro / tipo de retiro / motivo de renuncia

   EmployeeID Attrition retirementDate retirementType resignationReason
0           2       Yes     15/10/2016    Resignation            Others
1           7       Yes     20/07/2016    Resignation            Stress
2          14       Yes     08/11/2016    Resignation            Others
3          29       Yes     15/10/2016    Resignation            Others
4          31       Yes     08/02/2016    Resignation            Salary
5          36       Yes     18/06/2016    Resignation            Others
6          39       Yes     29/04/2016    Resignation            Stress
7          60       Yes     15/12/2016    Resignation            Others

In [ ]:
#imprimir categorias de las variables
lista = ['Attrition', 'retirementType', 'resignationReason']
for i in lista:
    print(retiro[i].value_counts())
    print('------------------------------------')

Yes    711
Name: Attrition, dtype: int64
------------------------------------
Resignation    641
Fired           70
Name: retirementType, dtype: int64
------------------------------------
Others    323
Salary    189
Stress    129
Name: resignationReason, dtype: int64
------------------------------------

In [ ]:
#tratamiento de datos nulos
retiro.isnull().sum()

EmployeeID            0
Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

In [ ]:
#reemplazar daros nulos por '0'
retiro = retiro.fillna('sin inf')
retiro.isnull().sum()

EmployeeID           0
Attrition            0
retirementDate       0
retirementType       0
resignationReason    0
dtype: int64