<a href="https://colab.research.google.com/github/anaperez10/Analiticalll/blob/main/RRHH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CARGA DE PAQUETES

In [2]:
#Importar paquetes
import pandas as pd
import numpy as np

IMPORTAR Y LEER BASES DE DATOS

In [9]:
general = pd.read_csv('https://raw.githubusercontent.com/anaperez10/Analiticalll/main/Bases%20de%20datos/general_data.csv', sep=";")
intime = pd.read_csv('https://raw.githubusercontent.com/anaperez10/Analiticalll/main/Bases%20de%20datos/in_time.csv')
smanager = pd.read_csv('https://raw.githubusercontent.com/anaperez10/Analiticalll/main/Bases%20de%20datos/manager_survey_data.csv')
outtime = pd.read_csv('https://raw.githubusercontent.com/anaperez10/Analiticalll/main/Bases%20de%20datos/out_time.csv')
retirement = pd.read_csv('https://raw.githubusercontent.com/anaperez10/Analiticalll/main/Bases%20de%20datos/retirement_info.csv', sep=";")
semployee = pd.read_csv('https://raw.githubusercontent.com/anaperez10/Analiticalll/main/Bases%20de%20datos/employee_survey_data.csv')

DEPURACIÓN BASES DE DATOS

- Base de información general

In [19]:
general.head(5)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [20]:
#Inciamos con la depuración de la base de datos 2, que tiene información general de los empleados
general.columns

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender', 'JobLevel',
       'JobRole', 'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'Over18', 'PercentSalaryHike', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [14]:
#conocer el tipo de variables
general.dtypes

Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [40]:
#Mirar las dimensiones de la base
general.shape

(4410, 23)

In [13]:
#imprimir categorias de las variables
lista = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18']
for i in lista:
    print(general[i].value_counts())
    print('------------------------------------')

Travel_Rarely        3129
Travel_Frequently     831
Non-Travel            450
Name: BusinessTravel, dtype: int64
------------------------------------
Research & Development    2883
Sales                     1338
Human Resources            189
Name: Department, dtype: int64
------------------------------------
Life Sciences       1818
Medical             1392
Marketing            477
Technical Degree     396
Other                246
Human Resources       81
Name: EducationField, dtype: int64
------------------------------------
Male      2646
Female    1764
Name: Gender, dtype: int64
------------------------------------
Sales Executive              978
Research Scientist           876
Laboratory Technician        777
Manufacturing Director       435
Healthcare Representative    393
Manager                      306
Sales Representative         249
Research Director            240
Human Resources              156
Name: JobRole, dtype: int64
------------------------------------
Married     2019
Single      1410
Divorced     981
Name: MaritalStatus, dtype: int64
------------------------------------
Y    4410
Name: Over18, dtype: int64
------------------------------------

In [16]:
#definimos un nuevo DF con las variables de interés
info2 = general[['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender', 'JobLevel',
       'JobRole', 'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
        'PercentSalaryHike', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager']]
info2.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,...,131160,1.0,11,8,0,1.0,6,1,0,0
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,...,41890,0.0,23,8,1,6.0,3,5,1,4
2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,...,193280,1.0,15,8,3,5.0,2,5,0,3
3,38,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,...,83210,3.0,11,8,3,13.0,5,8,7,5
4,32,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,...,23420,4.0,12,8,2,9.0,2,6,0,4

In [17]:
#tratamiento de datos nulos
info2.isnull().sum()

Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

- Base encuesta satisfaccion a los empleados

In [18]:
semployee.head(8)
#ID empleado / Satisfacción : ambiente / laboral / equilibrio vida - trabajo

   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0
5           6                      3.0              2.0              2.0
6           7                      1.0              3.0              1.0
7           8                      1.0              2.0              3.0

In [41]:
#Mirar las dimensiones de la base
semployee.shape

(4410, 4)

In [22]:
#conocer el tipo de variables
semployee.dtypes

EmployeeID                   int64
EnvironmentSatisfaction    float64
JobSatisfaction            float64
WorkLifeBalance            float64
dtype: object

In [23]:
#imprimir categorias de las variables
lista = ['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance']
for i in lista:
    print(semployee[i].value_counts())
    print('------------------------------------')

3.0    1350
4.0    1334
2.0     856
1.0     845
Name: EnvironmentSatisfaction, dtype: int64
------------------------------------
4.0    1367
3.0    1323
1.0     860
2.0     840
Name: JobSatisfaction, dtype: int64
------------------------------------
3.0    2660
2.0    1019
4.0     454
1.0     239
Name: WorkLifeBalance, dtype: int64
------------------------------------

In [25]:
#tratamiento de datos nulos
semployee.isnull().sum()

EmployeeID                  0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
dtype: int64

- Base Encuesta de desempeño de los empleados hecha por los jefes

In [26]:
smanager.head(8)
#nivel de participación en el trabajo / calificación de desempeño del año anterior

   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3
5           6               3                  3
6           7               3                  4
7           8               3                  4

In [42]:
#Mirar las dimensiones de la base
smanager.shape

(4410, 3)

In [29]:
#conocer el tipo de variables
smanager.dtypes

EmployeeID           int64
JobInvolvement       int64
PerformanceRating    int64
dtype: object

In [27]:
#imprimir categorias de las variables
lista = ['JobInvolvement', 'PerformanceRating']
for i in lista:
    print(smanager[i].value_counts())
    print('------------------------------------')

3    2604
2    1125
4     432
1     249
Name: JobInvolvement, dtype: int64
------------------------------------
3    3732
4     678
Name: PerformanceRating, dtype: int64
------------------------------------

In [28]:
#tratamiento de datos nulos
smanager.isnull().sum()

EmployeeID           0
JobInvolvement       0
PerformanceRating    0
dtype: int64

- Base información de retiro

In [30]:
retirement.head(8)
# desgaste / fecha de retiro / tipo de retiro / motivo de renuncia

   EmployeeID Attrition retirementDate retirementType resignationReason
0           2       Yes     15/10/2016    Resignation            Others
1           7       Yes     20/07/2016    Resignation            Stress
2          14       Yes     08/11/2016    Resignation            Others
3          29       Yes     15/10/2016    Resignation            Others
4          31       Yes     08/02/2016    Resignation            Salary
5          36       Yes     18/06/2016    Resignation            Others
6          39       Yes     29/04/2016    Resignation            Stress
7          60       Yes     15/12/2016    Resignation            Others

In [43]:
#Mirar las dimensiones de la base
retirement.shape

(711, 5)

In [38]:
#imprimir categorias de las variables
lista = ['Attrition', 'retirementType', 'resignationReason']
for i in lista:
    print(retirement[i].value_counts())
    print('------------------------------------')

Yes    711
Name: Attrition, dtype: int64
------------------------------------
Resignation    641
Fired           70
Name: retirementType, dtype: int64
------------------------------------
Others    393
Salary    189
Stress    129
Name: resignationReason, dtype: int64
------------------------------------

In [37]:
#Homologar los valores de la variable sin inf a others
retirement['resignationReason'] = retirement['resignationReason'].replace(['sin inf'],'Others')

NUEVAS BASES DE DATOS

In [55]:
#Base de datos con la informacion de todos los empleados
df = pd.merge(info2,semployee, on = 'EmployeeID',how = 'left')
df1 = pd.merge(df,smanager, on = 'EmployeeID',how = 'left')
df1.head(5)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,...,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,...,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,...,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,38,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,...,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,32,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,...,9.0,2,6,0,4,4.0,1.0,3.0,3,3

In [61]:
#Base de datos de las personas que se han retirado de la empresa
df2 = pd.merge(retirement,df1, on = 'EmployeeID',how = 'left')
df2.head(5)

,EmployeeID,Attrition,retirementDate,retirementType,resignationReason,Age,BusinessTravel,Department,DistanceFromHome,Education,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,2,Yes,15/10/2016,Resignation,Others,31,Travel_Frequently,Research & Development,10,1,...,6.0,3,5,1,4,3.0,2.0,4.0,2,4
1,7,Yes,20/07/2016,Resignation,Stress,28,Travel_Rarely,Research & Development,11,2,...,5.0,2,0,0,0,1.0,3.0,1.0,3,4
2,14,Yes,08/11/2016,Resignation,Others,47,Non-Travel,Research & Development,1,1,...,10.0,4,10,9,9,1.0,2.0,2.0,2,3
3,29,Yes,15/10/2016,Resignation,Others,44,Travel_Frequently,Research & Development,1,2,...,19.0,2,1,0,0,4.0,3.0,1.0,2,3
4,31,Yes,08/02/2016,Resignation,Salary,26,Travel_Rarely,Research & Development,4,3,...,5.0,5,3,0,2,1.0,2.0,3.0,2,3

In [76]:
#Cambiar tipo de dato de entero a categorico
#Education (Cat), JobLevel (Cat), NumCompaniesWorked (Int), StockOptionLevel (Cat), TotalWorkingYears (Int), EnvSat (Cat), JobSat (Cat), WorkLifeBalance (Cat), JobInv (Cat), PerRat (Cat)
df1=df1.astype({'Education': object,'JobLevel': object,'StockOptionLevel': object,'JobInvolvement': object,'PerformanceRating': object,
            'EnvironmentSatisfaction': object,'JobSatisfaction': object,'WorkLifeBalance': object})

In [75]:
#Observar tipo de datos
df1.dtypes

Age                          int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                   object
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                    object
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel            object
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
EnvironmentSatisfaction     object
JobSatisfaction             object
WorkLifeBalance             object
JobInvolvement              object
PerformanceRating           object
dtype: object

In [69]:
df1.isnull().sum()

Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
JobInvolvement              0
PerformanceRating           0
dtype: int64

In [62]:
print(df1.shape)
print(df2.shape)

(4410, 27)
(711, 31)